.vs/
.vscode/
.kdev4/

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.pri
*.pro
*.workspace
*.code-workspace
*.kdev4
Makefile
CMakeLists.txt
turtlebot3/SimulaTORCode*.txt

turtlebot3/Binaries/*
turtlebot3/Plugins/*/Binaries/*
turtlebot3/Saved/*
turtlebot3/Build/*
turtlebot3/Intermediate/*
turtlebot3/Plugins/*/Intermediate/*
turtlebot3/DerivedDataCache/*
turtlebot3/Content/Developers/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!turtlebot3/Build/*/
turtlebot3/Build/*/**
!turtlebot3/Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!turtlebot3/Build/**/*.ico

# Whitelist Linux plugin libs
!turtlebot3/Plugins/*/ThirdParty/**/*.a

*_BuiltData.uasset
