[submodule "Plugins/rclUE"]
	path = Plugins/rclUE
	url = git@github.com:rapyuta-robotics/rclUE.git
[submodule "Plugins/UE_rapyuta_assets"]
	path = Plugins/UE_rapyuta_assets
	url = git@github.com:rapyuta-robotics/UE_rapyuta_assets.git
